/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2022, 11:44:59
    Author     : Mac
*/

html {
    text-align: center; 
    background-color: #ccc;
    padding: 100px;
    font-family: monospace;
    font-size: 14px;
}

button {
    width: 400px;
    margin-top: 40px;
    padding: 15px;
    background-color: #acf;
    cursor: pointer;
}

button:hover {
    background-color: #bdf;
}